.video-box {
  display: flex;
  max-width: 1080px;
  min-width: 200px;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.video-box:hover .controls {
  transform: translateY(0);
}
.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
}
.play {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.format-time {
  margin-left: 5px;
}
.seek-bar {
  position: absolute;
  cursor: pointer;
  background-color: rgba(256, 256, 256, 0.6);
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
}
.main-controls {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  /* padding: 10px; */
}
.volume {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.volume:hover .volume-control {
  /* display: block; */
  width: 100px;
  transform: translateX(0);
}
.volume-control {
  /* width: 100px; */
  height: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  /* display: none; */
  cursor: pointer;
  transform: translateX(150%);
  transition: all 0.5s;
}
.v-control {
  background-color: red;
  height: 10px;
}
.time {
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: row;
}
.playback {
  cursor: pointer;
  padding: 10px;
  color: white;
  font-weight: 700;
}
.seek-progress {
  height: 10px;
  /* width: 100px; */
  background-color: red;
}
